<!DOCTYPE html>
<html> 
  <head> 
  </head>
  <body>  


    <!--job details-->
    <div id="job-details"> 
      <!-- <form #a (ngSubmit)="onSubmit(a)"> -->
        <!-- <div>
          <label for="id">ID:</label>
          <input type="text" id="id" name="id" >
        </div>
        <div>
          <label for="employeeStatus">Employee Status:</label>
          <input type="text" id="employeeStatus" name="employeeStatus" >
        </div>
        <div>
          <label for="employeeType">Employee Type:</label>
          <input type="text" id="employeeType" name="employeeType" >
        </div>
        <div>
          <label for="jobTitle">Job Title:</label>
          <input type="text" id="jobTitle" name="jobTitle">
        </div>
        <div>
          <label for="joiningDate">Joining Date:</label>
          <input type="date" id="joiningDate" name="joiningDate" >
        </div>
        <div>
          <label for="performance">Performance:</label>
          <textarea id="performance" name="performance" ></textarea>
        </div>
      
        <button (click)="next1()">Next</button>
      </form>        -->
      
      <!-- -personal details ........--> 

<!-- <div id="personal-details">
      <form>
       
          <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id">
          </div>
          <div>
            <label for="address">Address:</label>
            <textarea id="address" name="address"></textarea>
          </div>
          <div>
            <label for="bloodgroup">Blood Group:</label>
            <input type="text" id="bloodgroup" name="bloodgroup" >
          </div>
          <div>
            <label for="emailid">Email ID:</label>
            <input type="email" id="emailid" name="emailid" >
          </div>
          <div>
            <label for="fathername">Father's Name:</label>
            <input type="text" id="fathername" name="fathername">
          </div>
          <div>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender">
          </div>
          <div>
            <label for="mothername">Mother's Name:</label>
            <input type="text" id="mothername" name="mothername">
          </div>
          <div>
            <label for="phoneno">Phone Number:</label>
            <input type="tel" id="phoneno" name="phoneno">
          </div>
          <div>
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary"> 

            <button (click)="next2()">Next</button>
        </div>
   </form>
  </div></div>  -->

                  
  
        <div>
          <label for="id">ID:</label>
          <input type="text" [(ngModel)]=employee.id >
        </div>    
      
        <div>
          <label for="name">Name:</label>
          <input type="text" [(ngModel)]="employee.name">
        </div>
        <div>
          <label for="photo_url">Photo URL:</label>
          <input type="text" [(ngModel)]="employee.photoUrl" >
        </div>
        <div>       
          <label for="dept_id">Department ID:</label>
          <input type="text" [(ngModel)]="employee.departmentId">
        </div>
        <div>
          <label for="manager_id">Manager ID:</label>
          <input type="text" [(ngModel)]="employee.managerId" >
        </div>
      
      
        <button class="btn btn-success" type="submit" (click)="saveEmployee()">Submit</button> 

      <!-- </form> -->
     
  </div> 
</body>
</html>

